#ensemble
{
    display: flex; 
}

#titrepage
{
    display: flex;
}

#titrefaille
{
    display: flex;
}

#explicationfaille
{
    margin-left: 1000px;
}

#titreexemple
{
    display: flex;
}

#exemplefaille
{
    display: flex;
    margin-left: 1000px;
}

#titrecorrection
{
    display: flex;
}

#correctionfaille
{
    display: flex;
    margin-left: 10px;
}

header{
	text-align: center;
}

body{
	background-color: rgba(249,249,249,1);
}

p{
	font-family: impact, serif;
    font-size: 1.2em;

}

h1{
	font-family: impact, serif;
	text-align: center;
	color: brown;

}

h2{
	font-family: impact, serif;
	text-align: center;

}


