
<button onclick="href=myFunction">Appeler 112</button>

<h3 class="title">1. S&eacute;curisez le lieu de l'accident et les personnes impliqu&eacute;es</h3>
<p>Evaluez les conditions de s&eacute;curit&eacute; et v&eacute;rifiez qu'il n'existe aucun danger suppl&eacute;mentaire (circulation, incendie, &eacute;lectricit&eacute;...).</p>
<p>N'approchez le lieu de l'accident que si cela ne pr&eacute;sente aucun risque pour vous. Dans la mesure du possible, assurez la s&eacute;curit&eacute; des victimes et des autres personnes pr&eacute;sentes.</p>
<p>Si la situation est dangereuse et si vous ne pouvez agir sans prendre de risque, alertez les services d'urgence. Etablissez un p&eacute;rim&egrave;tre de s&eacute;curit&eacute; autour du lieu de l'accident en attendant l'arriv&eacute;e des secours.</p>
<div class="object-right"><img class="image right" src="http://www.croix-rouge.fr/var/crf_internet/storage/images/media/images/1/83553-1-fre-FR/1_medium-187.gif" alt="1" border="0" /></div>
<p><a id="eztoc83521_0_2" name="eztoc83521_0_2"></a></p>
<h3 class="title">2. Appr&eacute;ciez l'&eacute;tat de la victime</h3>
<p>Pr&eacute;sentez-vous et expliquez &agrave; la victime ce que vous allez faire afin de la rassurer. V&eacute;rifiez qu'elle est consciente et respire normalement (cf. partie sur <a href="http://www.croix-rouge.fr/Je-me-forme/Particuliers/Les-6-gestes-de-base/L-inconscience" target="_self">l'inconscience</a>). Le pronostic vital est souvent en jeu en cas d'alt&eacute;ration de la conscience ou de la respiration. Ces &eacute;l&eacute;ments seront &agrave; transmettre aux secours.</p>
<p><a id="eztoc83521_0_3" name="eztoc83521_0_3"></a></p>
<div class="object-right"><img class="image right" src="http://www.croix-rouge.fr/var/crf_internet/storage/images/media/images/2/83568-1-fre-FR/2_medium-187.gif" alt="2" border="0" /></div>
<h3 class="title">3. Demandez de l'aide</h3>
<p>Si vous avez besoin d'aide, alertez les services d'urgence :</p>
<p><strong>Le 18</strong> : les sapeurs-pompiers pour tout probl&egrave;me de secours, notamment accident, incendie.</p>
<p><strong>Le 15</strong> : le Samu pour tout probl&egrave;me urgent de sant&eacute;, c'est un secours m&eacute;dicalis&eacute;.</p>
<p><strong>Le 17</strong> : la police ou la gendarmerie pour tout probl&egrave;me de s&eacute;curit&eacute; ou d'ordre public.</p>
<p><strong>Le 112</strong> : num&eacute;ro d'appel unique des urgences sur le territoire europ&eacute;en, recommand&eacute; aux &eacute;trangers circulant</p>
<p>en France et aux Fran&ccedil;ais circulant &agrave; l'&eacute;tranger.</p>
<p><strong>Le 115</strong> : le Samu social pour toute personne qui pr&eacute;sente une d&eacute;tresse sociale comme les personnes sans domicile ou sans abri et expos&eacute;es aux intemp&eacute;ries.</p>
<div class="object-right"><img class="image right" src="http://www.croix-rouge.fr/var/crf_internet/storage/images/media/images/3/83572-1-fre-FR/3_medium-187.gif" alt="3" border="0" /></div>
<p><a id="eztoc83521_0_3_1" name="eztoc83521_0_3_1"></a></p>
<h4 class="small-title">Vous devez pouvoir fournir aux services d'urgence</h4>
<ul>
  <li class="first">le num&eacute;ro de t&eacute;l&eacute;phone ou de la borne d'o&ugrave; vous appelez,</li>
  <li>si n&eacute;cessaire, votre nom,</li>
  <li>la nature du probl&egrave;me (maladie ou accident),</li>
  <li>les risques &eacute;ventuels (incendie, explosion, effondrement...),</li>
  <li>la localisation pr&eacute;cise de l'&eacute;v&eacute;nement,</li>
  <li>le nombre de personnes concern&eacute;es,</li>
  <li>l'&eacute;tat de chaque victime,</li>
  <li class="last">les premi&egrave;res mesures prises,</li>
</ul>
<p>Vous devez &eacute;galement r&eacute;pondre aux questions qui vous seront pos&eacute;es par les secours ou par le m&eacute;decin.</p>
<p><a id="eztoc83521_0_4" name="eztoc83521_0_4"></a></p>
<h3 class="title">4. Effectuez les gestes de premiers secours</h3>
<p>Dispensez les gestes de premiers secours de fa&ccedil;on calme et non pr&eacute;cipit&eacute;e.</p>
<div class="object-right"><img class="image right" src="http://www.croix-rouge.fr/var/crf_internet/storage/images/media/images/4/83576-1-fre-FR/4_medium-187.gif" alt="4" border="0" /></div>
<p><em>&nbsp;Ces contenus sont extraits du guide des gestes qui sauvent de la Croix-Rouge fran&ccedil;aise, remis &agrave; chaque participant &agrave; une formation PSC 1. Textes : Dr Pascal Cassan, Dr Daniel Meyran, Dr Vincent Hubert - Photo : Val&eacute;rie Archeno - Illustrations : Philippe Diemunch - Pictogrammes : Yann Brien. </em></p>

function myFunction() {
  window.PhoneCaller.call("112",null,null);
}
