<h1> 1. S&eacute;curisez le lieu de l'accident et les personnes impliqu&eacute;es</h1>

<p>Evaluez les conditions de s&eacute;curit&eacute; et v&eacute;rifiez qu'il n'existe aucun danger suppl&eacute;mentaire (circulation, incendie, &eacute;lectricit&eacute;...).</p>
<p>N'approchez le lieu de l'accident que si cela ne pr&eacute;sente aucun risque pour vous. Dans la mesure du possible, assurez la s&eacute;curit&eacute; des victimes et des autres personnes pr&eacute;sentes.</p>
<p>Si la situation est dangereuse et si vous ne pouvez agir sans prendre de risque, alertez les services d'urgence. Etablissez un p&eacute;rim&egrave;tre de s&eacute;curit&eacute; autour du lieu de l'accident en attendant l'arriv&eacute;e des secours.</p>

<img class="image right" src="http://www.croix-rouge.fr/var/crf_internet/storage/images/media/images/1/83553-1-fre-FR/1_medium-187.gif" alt="1" border="0" />

<h1>2. Appr&eacute;ciez l'&eacute;tat de la victime</h1>

<p>Pr&eacute;sentez-vous et expliquez &agrave; la victime ce que vous allez faire afin de la rassurer. V&eacute;rifiez qu'elle est consciente et respire normalement. Le pronostic vital est souvent en jeu en cas d'alt&eacute;ration de la conscience ou de la respiration. Ces &eacute;l&eacute;ments seront &agrave; transmettre aux secours.</p>
<img class="image right" src="http://www.croix-rouge.fr/var/crf_internet/storage/images/media/images/2/83568-1-fre-FR/2_medium-187.gif" alt="2" border="0" />

<h1>3. Demandez de l'aide</h1>

<p>Si vous avez besoin d'aide, alertez les services d'urgence :</p>

<p1>Le 18</p1><p> : les sapeurs-pompiers pour tout probl&egrave;me de secours, notamment accident, incendie.</p>
<p1>Le 15</p1><p> : le Samu pour tout probl&egrave;me urgent de sant&eacute;, c'est un secours m&eacute;dicalis&eacute;.</p>
<p1>Le 17</p1><p> : la police ou la gendarmerie pour tout probl&egrave;me de s&eacute;curit&eacute; ou d'ordre public.</p>
<p1>Le 112</p1><p> : num&eacute;ro d'appel unique des urgences sur le territoire europ&eacute;en, recommand&eacute; aux &eacute;trangers circulant en France et aux Fran&ccedil;ais circulant &agrave; l'&eacute;tranger.</p>
<p1>Le 115</p1><p> : le Samu social pour toute personne qui pr&eacute;sente une d&eacute;tresse sociale comme les personnes sans domicile ou sans abri et expos&eacute;es aux intemp&eacute;ries.</p>

<img class="image right" src="http://www.croix-rouge.fr/var/crf_internet/storage/images/media/images/3/83572-1-fre-FR/3_medium-187.gif" alt="3" border="0" />

<p1>Vous devez pouvoir fournir aux services d'urgence</p1>

<ul>
<li>le num&eacute;ro de t&eacute;l&eacute;phone ou de la borne d'o&ugrave; vous appelez,</li>
<li>si n&eacute;cessaire, votre nom,</li>
<li>la nature du probl&egrave;me (maladie ou accident),</li>
<li>les risques &eacute;ventuels (incendie, explosion, effondrement...), </li>
<li>la localisation pr&eacute;cise de l'&eacute;v&eacute;nement,</li>
<li>le nombre de personnes concern&eacute;es,</li>
<li>l'&eacute;tat de chaque victime,</li>
<li>les premi&egrave;res mesures prises,</li>
</ul>

<p>Vous devez &eacute;galement r&eacute;pondre aux questions qui vous seront pos&eacute;es par les secours ou par le m&eacute;decin.</p>

<h1>4. Effectuez les gestes de premiers secours</h1>
<p>Dispensez les gestes de premiers secours de fa&ccedil;on calme et non pr&eacute;cipit&eacute;e.</p>

<img class="image right" src="http://www.croix-rouge.fr/var/crf_internet/storage/images/media/images/4/83576-1-fre-FR/4_medium-187.gif" alt="4" border="0" />

</br>
<button onclick="href=myFunction">Appeler 112</button>
</br>

<p2>Ces contenus sont extraits du guide des gestes qui sauvent de la Croix-Rouge fran&ccedil;aise, remis &agrave; chaque participant &agrave; une formation PSC 1. Textes : Dr Pascal Cassan, Dr Daniel Meyran, Dr Vincent Hubert - Photo : Val&eacute;rie Archeno - Illustrations : Philippe Diemunch - Pictogrammes : Yann Brien.</p2>

function myFunction() {
  window.PhoneCaller.call("112",sucess,fails);
}
function succes() {
}
function fails() {
}
